[Unit]
Description=RFID-Reader and Spotify-Client Service
After=network.target iptables.service firewalld.service

[Service]
User=pi
Group=pi
Restart=always
WorkingDirectory=/home/pi/spoty-rfid
ExecStart=/home/pi/spoty-rfid/gy-521-gesture-control.py

[Install]
WantedBy=multi-user.target